@model Ecommerce_WatchShop.Models.ViewModels.FooterVM
<footer class="footer-section footer-bg section-top-gap-100">
    <div class="footer-wrapper">
        <div class="footer-top">
            <div class="container">
                <div class="row mb-n6">
                    <div class="col-lg-3 col-sm-6 mb-6">
                        <div class="footer-logo" data-aos="fade-up" data-aos-delay="0">
                            <a href="#">
                                <img src="@Url.Content("~/Images/" + Model.Footer.Logo)" alt="ZZZ Logo" style="max-width: 200px;">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 mb-6">
                        <div class="footer-widget-single-item footer-widget-color--pink" data-aos="fade-up" data-aos-delay="0">
                            <h5 class="title">Thông Tin</h5>
                            <ul class="footer-nav">
                                @foreach (var link in Model.InformationLinks)
                                {
                                    <li><a href="@link.Url">@link.Title</a></li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 mb-6">
                        <div class="footer-widget-single-item footer-widget-color--pink" data-aos="fade-up" data-aos-delay="200">
                            <h5 class="title">Tài Khoản Của Tôi</h5>
                            <ul class="footer-nav">
                                @foreach (var link in Model.AccountLinks)
                                {
                                    <li><a href="@link.Url">@link.Title</a></li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 mb-6">
                        <div class="footer-widget-single-item footer-widget-color--pink" data-aos="fade-up" data-aos-delay="400">
                            <h5 class="title">Danh Mục</h5>
                            <ul class="footer-nav">
                                @foreach (var link in Model.CategoryLinks)
                                {
                                    <li><a href="@link.Url">@link.Title</a></li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 mb-6">
                        <div class="footer-widget-single-item footer-widget-color--pink" data-aos="fade-up" data-aos-delay="600">
                            <h5 class="title">Về Chúng Tôi</h5>
                            <div class="footer-about">
                                <p>@Html.Raw(Model.Footer.Description)</p>
                                <address>
                                    <span><b>Địa chỉ:</b> @Model.Footer.Address</span>
                                </address>
                            </div>
                        </div>
                    </div>

                    @if (!string.IsNullOrEmpty(Model.Footer.FacebookUrl))
                    {
                        <div class="col-lg-3 col-sm-6 mb-6">
                            <div class="footer-widget-single-item footer-widget-color--pink" data-aos="fade-up" data-aos-delay="600">
                                <h5 class="title">Theo Dõi Chúng Tôi</h5>
                                <div class="footer-about">
                                    <ul class="footer-social-link">
                                        <li><a href="@Model.Footer.FacebookUrl"><i class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <hr />
        <div class="footer-bottom">
            <div class="container">
                <div class="row justify-content-center align-items-center flex-column flex-md-row mb-n6">
                    <div class="col-auto mb-6">
                        <div class="footer-copyright">
                            <p class="copyright-text">
                                &copy; @DateTime.Now.Year <a href="/">ZZZ</a>. Bản quyền thuộc về ZZZ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>