@using System.Globalization
<div class="product-wrapper" data-aos="fade-up" data-aos-delay="200">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-slider-default-2rows default-slider-nav-arrow">
                    <!-- Slider main container -->
                    <div class="swiper-container product-default-slider-4grid-2row">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Start Product Default Single Item -->
                            @foreach (var item in ViewBag.FeaturedProduct)
                            {
                                <div class="product-default-single-item product-color--pink swiper-slide">
                                    <div class="image-box">
                                        <a asp-controller="Product" asp-action="ProductDetail" asp-route-slug="@item.Slug" class="image-link">
                                            <img src="~/images/@item.Image" alt="">
                                        </a>
                                        <div class="action-link">
                                            <div class="action-link-left">
                                                <a class="btn add-to-cart" data-slug="@item.Slug" data-quantity="1" data-bs-toggle="modal"
                                                   data-bs-target="#modalAddcart">Thêm vào giỏ</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="content-left">
                                            <h6 class="title">
                                                <a asp-controller="Product" asp-action="ProductDetail">
                                                    @item.ProductName
                                                </a>
                                            </h6>
                                            <ul class="review-star">
                                                @{
                                                    bool hasHalfStar = (@item.ProductRating - (int)@item.ProductRating) >= 0.4;

                                                }
                                                @if (@item.ProductRating == 0)
                                                {
                                                    for (int i = 1; i <= 5; i++)
                                                    {
                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                    }
                                                }
                                                else
                                                {
                                                    @for (int i = 1; i <= (int)@item.ProductRating; i++)
                                                    {
                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                    }

                                                    {
                                                        if ((int)item.ProductRating < 5)
                                                        {
                                                            if (hasHalfStar)
                                                            {
                                                                <li class="half" style="color: #b19361"><i class="ion-android-star-half"></i></li>
                                                            }
                                                        }
                                                    }
                                                    for (int i = (int)@item.ProductRating + (hasHalfStar ? 1 : 0); i < 5; i++)
                                                    {
                                                        <li class="empty"><i class="ion-android-star"></i></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <div class="content-right">
                                            <span class="price">  </span>
                                        </div>
                                        
                                    </div>
                                    <!-- End Product Default Single Item -->
                                </div>
                            }
                            <!-- End Product Default Single Item -->
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
