@* @model Ecommerce_WatchShop.Models.Customer
@{
    ViewData["Title"] = "Thông tin tài khoản";
}
    <!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Tài Khoản Của Tôi</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="index.html">Trang Chủ</a></li>
                                <li class="active" aria-current="page">@ViewBag.Title</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->
<!-- ...:::: Start Account Dashboard Section:::... -->
<div class="account-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <!-- Nav tabs -->
                <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li>
                            <a asp-controller="Account" asp-action="Order"
                               class="nav-link btn btn-block btn-md btn-black-default-hover">Đơn hàng</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="AccountDetails" 
                               class="nav-link btn btn-block btn-md btn-black-default-hover active">Thông tin cá nhân</a>
                        </li>
                        <li>
                            <a href=""
                               class="nav-link btn btn-block btn-md btn-black-default-hover">Yêu Thích</a>
                        </li>
                        <li>
                            <a asp-action="Logout" asp-controller="Account"
                               class="nav-link btn btn-block btn-md btn-black-default-hover">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <!-- Tab panes -->
                <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                    <div class="tab-pane fade show active">
                        <h3>Thông tin cá nhân</h3>
                        <div class="login">
                            <div class="login_form_container">
                                <div class="account_login_form">
                                    <form action="#">
                                        <div class="default-form-box input-radio">
                                            <label>Giới tính</label>
                                            <br />
                                            <span class="custom-radio">
                                                <input type="radio" value="1"
                                                       name="id_gender"> Nam
                                            </span>
                                            <span class="custom-radio">
                                                <input type="radio" value="1"
                                                       name="id_gender"> Nữ
                                            </span>
                                        </div> <br>
                                        <div class="default-form-box mb-20">
                                            <label>Họ tên</label>
                                            <input type="text" name="first-name">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Tên hiển thị</label>
                                            <input type="text" name="first-name">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Email</label>
                                            <input type="text" name="email-name">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Số điện thoại</label>
                                            <input type="text" name="phone">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Birthdate</label>
                                            <input type="date" name="birthday">
                                        </div>
                                        <br>
                                        <div class="save_button mt-3">
                                            <button class="btn btn-md btn-black-default-hover"
                                                    type="submit">
                                                Lưu thay đổi
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Account Dashboard Section:::... --> *@
@model Ecommerce_WatchShop.Models.Customer
@{
    ViewData["Title"] = "Thông tin tài khoản";
}

<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Tài Khoản Của Tôi</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
                                <li class="active" aria-current="page">@ViewBag.Title</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...:::: End Breadcrumb Section:::... -->
<!-- ...:::: Start Account Dashboard Section:::... -->
<div class="account-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <!-- Nav tabs -->
                <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li>
                            <a asp-controller="Account" asp-action="Order"
                               class="nav-link btn btn-block btn-md btn-black-default-hover">Đơn hàng</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="AccountDetails"
                               class="nav-link btn btn-block btn-md btn-black-default-hover active">Thông tin cá nhân</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Favorite"
                               class="nav-link btn btn-block btn-md btn-black-default-hover">Yêu Thích</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Logout"
                               class="nav-link btn btn-block btn-md btn-black-default-hover">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <!-- Tab panes -->
                <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                    <div class="tab-pane fade show active">
                        <h3>Thông tin cá nhân</h3>
                        <div class="login">
                            <div class="login_form_container">
                                <div class="account_login_form">
                                    <form asp-action="UpdateAccountDetails" method="post">
                                        <div class="default-form-box input-radio">
                                            <label>Giới tính</label>
                                            <br />
                                            <span class="custom-radio">
                                                <input type="radio" value="1"
                                                       name="Gender" @(Model.Gender == true ? "checked" : "")> Nam
                                            </span>
                                            <span class="custom-radio">
                                                <input type="radio" value="2"
                                                       name="Gender" @(Model.Gender == false ? "checked" : "")> Nữ
                                            </span>
                                        </div>
                                        <br>
                                        <div class="default-form-box mb-20">
                                            <label>Họ tên</label>
                                            <input type="text" name="FullName" value="@Model.FullName">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Email</label>
                                            <input type="email" name="Email" value="@Model.Email">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Số điện thoại</label>
                                            <input type="text" name="PhoneNumber" value="@Model.Phone">
                                        </div>
                                        <div class="default-form-box mb-20">
                                            <label>Ngày sinh</label>
                                            <input type="date" name="BirthDate" value="@(Model.Dob.HasValue ? Model.Dob.Value.ToString("yyyy-MM-dd") : "")" />
                                        </div>
                                        <br>
                                        <div class="save_button mt-3">
                                            <button class="btn btn-md btn-black-default-hover" type="submit">
                                                Lưu thay đổi
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...:::: End Account Dashboard Section:::... -->
